/* 여기저기서 사용될 UI 요소 스타일 작성 */

.container {
  width: 1000px;
  height: 600px;
  border: 1px solid black;
  margin: auto;
}

.logo {
  width: 200px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 12px 4px;
}

.menu-box {
  display: flex;
  align-items: center;
}

.menu {
  color: black;
  text-decoration: none;
  padding: 12px;
}
.menu:hover {
  text-decoration: underline;
}